<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year;
        var coal_count;
        var natural_gas_count;
        var nuclear_count;
        var petroleum_count;
        var renewable_count;
    </script>
</head>
<body>
    <h1> year </h1>
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Coal</th>
                <th>Natural Gas</th>
                <th>Nuclear</th>
                <th>Petroleum</th>
                <th>Renewable</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>S0</td>
                <td>C0</td>
                <td>NA0</td>
                <td>NU0</td>
                <td>P0</td>
                <td>T0</td>
            </tr>
            <tr>
                <td>S1</td>
                <td>C1</td>
                <td>NA1</td>
                <td>NU1</td>
                <td>P1</td>
                <td>T1</td>
            </tr>
            <tr>
                <td>S2</td>
                <td>C2</td>
                <td>NA2</td>
                <td>NU2</td>
                <td>P2</td>
                <td>T2</td>
            </tr>
            <tr>
                <td>S3</td>
                <td>C3</td>
                <td>NA3</td>
                <td>NU3</td>
                <td>P3</td>
                <td>T3</td>
            </tr>
            <tr>
                <td>S4</td>
                <td>C4</td>
                <td>NA4</td>
                <td>NU4</td>
                <td>P4</td>
                <td>T4</td>
            </tr>
            <tr>
                <td>S5</td>
                <td>C5</td>
                <td>NA5</td>
                <td>NU5</td>
                <td>P5</td>
                <td>T5</td>
            </tr>
            <tr>
                <td>S6</td>
                <td>C6</td>
                <td>NA6</td>
                <td>NU6</td>
                <td>P6</td>
                <td>T6</td>
            </tr>
            <tr>
                <td>S7</td>
                <td>C7</td>
                <td>NA7</td>
                <td>NU7</td>
                <td>P7</td>
                <td>T7</td>
            </tr>
            <tr>
                <td>S8</td>
                <td>C8</td>
                <td>NA8</td>
                <td>NU8</td>
                <td>P8</td>
                <td>T8</td>
            </tr>
            <tr>
                <td>S9</td>
                <td>C9</td>
                <td>NA9</td>
                <td>NU9</td>
                <td>P9</td>
                <td>T9</td>
            </tr>
            <tr>
                <td>S10</td>
                <td>C10</td>
                <td>NA10</td>
                <td>NU10</td>
                <td>P10</td>
                <td>T10</td>
            </tr>
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <tr>
                <td>S11</td>
                <td>C11</td>
                <td>NA11</td>
                <td>NU11</td>
                <td>P11</td>
                <td>T11</td>
            </tr>
            <tr>
                <td>S12</td>
                <td>C12</td>
                <td>NA12</td>
                <td>NU12</td>
                <td>P12</td>
                <td>T12</td>
            </tr>
            <tr>
                <td>S13</td>
                <td>C13</td>
                <td>NA13</td>
                <td>NU13</td>
                <td>P13</td>
                <td>T13</td>
            </tr>
            <tr>
                <td>S14</td>
                <td>C14</td>
                <td>NA14</td>
                <td>NU14</td>
                <td>P14</td>
                <td>T14</td>
            </tr>
            <tr>
                <td>S15</td>
                <td>C15</td>
                <td>NA15</td>
                <td>NU15</td>
                <td>P15</td>
                <td>T15</td>
            </tr>
            <tr>
                <td>S16</td>
                <td>C16</td>
                <td>NA16</td>
                <td>NU16</td>
                <td>P16</td>
                <td>T16</td>
            </tr>
            <tr>
                <td>S17</td>
                <td>C17</td>
                <td>NA17</td>
                <td>NU17</td>
                <td>P17</td>
                <td>T17</td>
            </tr>
            <tr>
                <td>S18</td>
                <td>C18</td>
                <td>NA18</td>
                <td>NU18</td>
                <td>P18</td>
                <td>T18</td>
            </tr>
            <tr>
                <td>S19</td>
                <td>C19</td>
                <td>NA19</td>
                <td>NU19</td>
                <td>P19</td>
                <td>T19</td>
            </tr>
            <tr>
                <td>S20</td>
                <td>C20</td>
                <td>NA20</td>
                <td>NU20</td>
                <td>P20</td>
                <td>T20</td>
            </tr>
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <tr>
                <td>S21</td>
                <td>C21</td>
                <td>NA21</td>
                <td>NU21</td>
                <td>P21</td>
                <td>T21</td>
            </tr>
            <tr>
                <td>S22</td>
                <td>C22</td>
                <td>NA22</td>
                <td>NU22</td>
                <td>P22</td>
                <td>T22</td>
            </tr>
            <tr>
                <td>S23</td>
                <td>C23</td>
                <td>NA23</td>
                <td>NU23</td>
                <td>P23</td>
                <td>T23</td>
            </tr>
            <tr>
                <td>S24</td>
                <td>C24</td>
                <td>NA24</td>
                <td>NU24</td>
                <td>P24</td>
                <td>T24</td>
            </tr>
            <tr>
                <td>S25</td>
                <td>C25</td>
                <td>NA25</td>
                <td>NU25</td>
                <td>P25</td>
                <td>T25</td>
            </tr>
            <tr>
                <td>S26</td>
                <td>C26</td>
                <td>NA26</td>
                <td>NU26</td>
                <td>P26</td>
                <td>T26</td>
            </tr>
            <tr>
                <td>S27</td>
                <td>C27</td>
                <td>NA27</td>
                <td>NU27</td>
                <td>P27</td>
                <td>T27</td>
            </tr>
            <tr>
                <td>S28</td>
                <td>C28</td>
                <td>NA28</td>
                <td>NU28</td>
                <td>P28</td>
                <td>T28</td>
            </tr>
            <tr>
                <td>S29</td>
                <td>C29</td>
                <td>NA29</td>
                <td>NU29</td>
                <td>P29</td>
                <td>T29</td>
            </tr>
            <tr>
                <td>S30</td>
                <td>C30</td>
                <td>NA30</td>
                <td>NU30</td>
                <td>P30</td>
                <td>T30</td>
            </tr>
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <tr>
                <td>S31</td>
                <td>C31</td>
                <td>NA31</td>
                <td>NU31</td>
                <td>P31</td>
                <td>T31</td>
            </tr>
            <tr>
                <td>S32</td>
                <td>C32</td>
                <td>NA32</td>
                <td>NU32</td>
                <td>P32</td>
                <td>T32</td>
            </tr>
            <tr>
                <td>S33</td>
                <td>C33</td>
                <td>NA33</td>
                <td>NU33</td>
                <td>P33</td>
                <td>T33</td>
            </tr>
            <tr>
                <td>S34</td>
                <td>C34</td>
                <td>NA34</td>
                <td>NU34</td>
                <td>P34</td>
                <td>T34</td>
            </tr>
            <tr>
                <td>S35</td>
                <td>C35</td>
                <td>NA35</td>
                <td>NU35</td>
                <td>P35</td>
                <td>T35</td>
            </tr>
            <tr>
                <td>S36</td>
                <td>C36</td>
                <td>NA36</td>
                <td>NU36</td>
                <td>P36</td>
                <td>T36</td>
            </tr>
            <tr>
                <td>S37</td>
                <td>C37</td>
                <td>NA37</td>
                <td>NU37</td>
                <td>P37</td>
                <td>T37</td>
            </tr>
            <tr>
                <td>S38</td>
                <td>C38</td>
                <td>NA38</td>
                <td>NU38</td>
                <td>P38</td>
                <td>T38</td>
            </tr>
            <tr>
                <td>S39</td>
                <td>C39</td>
                <td>NA39</td>
                <td>NU39</td>
                <td>P39</td>
                <td>T39</td>
            </tr>
            <tr>
                <td>S40</td>
                <td>C40</td>
                <td>NA40</td>
                <td>NU40</td>
                <td>P40</td>
                <td>T40</td>
            </tr>
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <tr>
                <td>S41</td>
                <td>C41</td>
                <td>NA41</td>
                <td>NU41</td>
                <td>P41</td>
                <td>T41</td>
            </tr>
            <tr>
                <td>S42</td>
                <td>C42</td>
                <td>NA42</td>
                <td>NU42</td>
                <td>P42</td>
                <td>T42</td>
            </tr>
            <tr>
                <td>S43</td>
                <td>C43</td>
                <td>NA43</td>
                <td>NU43</td>
                <td>P43</td>
                <td>T43</td>
            </tr>
            <tr>
                <td>S44</td>
                <td>C44</td>
                <td>NA44</td>
                <td>NU44</td>
                <td>P44</td>
                <td>T44</td>
            </tr>
            <tr>
                <td>S45</td>
                <td>C45</td>
                <td>NA45</td>
                <td>NU45</td>
                <td>P45</td>
                <td>T45</td>
            </tr>
            <tr>
                <td>S46</td>
                <td>C46</td>
                <td>NA46</td>
                <td>NU46</td>
                <td>P46</td>
                <td>T46</td>
            </tr>
            <tr>
                <td>S47</td>
                <td>C47</td>
                <td>NA47</td>
                <td>NU47</td>
                <td>P47</td>
                <td>T47</td>
            </tr>
            <tr>
                <td>S48</td>
                <td>C48</td>
                <td>NA48</td>
                <td>NU48</td>
                <td>P48</td>
                <td>T48</td>
            </tr>
            <tr>
                <td>S49</td>
                <td>C49</td>
                <td>NA49</td>
                <td>NU49</td>
                <td>P49</td>
                <td>T49</td>
            </tr>
            <tr>
                <td>S50</td>
                <td>C50</td>
                <td>NA50</td>
                <td>NU50</td>
                <td>P50</td>
                <td>T50</td>
            </tr>
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             <!---------------------------------------------------->
             
        </tbody>
    </table>
</body>
</html>
